.homePages {
  width: 721px;
  height: 168px;
  display: flex;
}

.headingDiv {
  width: 666px;
  height: 72px;
}

.headings {
  font-family: Simplon Norm;
  font-size: 50px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 1px;
  text-align: center;
}

.description {
  font-family: Simplon Norm;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}
